* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html {
  overflow: hidden;  
}

main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 234, 216);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../setings/pokeMaster.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 0;
  font-family: 'Ubuntu', sans-serif;
}

@font-face {
  font-family: pokeFontBack;
  src: url('../setings/Pokemon_Solid.ttf');
}

@font-face {
  font-family: pokeFont;
  src: url('../setings/Pokemon_Hollow.ttf');
}

.container-title {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.score{
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  font-size: 1.3rem;
}

h1 {
  position: absolute;
  color: rgb(22, 94, 252);
  font-family: pokefont;
  font-size: 4.5rem;
}

.back-h1 {
  color: rgb(255, 208, 0);
  font-family: pokeFontBack;
  font-size: 4.5rem;
}

.container-letters {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.letters {
  margin: 1px;
  font-size: 3rem;
  color: rgb(248, 226, 155);
  margin: 15px;

}

.container-buttons {
  width: 850px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0);
  border: 1px solid rgb(0, 247, 255);
  color: rgb(255, 202, 122);
  font-size: 2rem;
  margin: 5px;
  transition: all 0.5s
  
}
.buttons:hover{
  transition: all 0.5s;
  cursor: pointer;
  background-color: rgb(146, 114, 180);
  color: rgb(196, 222, 255);
}

article {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(248, 226, 155);
  margin-top: 50px;
  font-size: 2rem;
}

.container-end-game{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  background-color: rgba(27, 27, 27, 0.726);
  backdrop-filter: blur(5px);
}
.container-end-game h3 {
  font-size: 2rem;
  color: rgb(155, 195, 248);
}  


.container-end-game h2 {
  color: rgb(248, 226, 155); 
  font-family: pokeFontBack;
  font-size: 4rem;
  letter-spacing: 7px;

}

.btn-end{
  width: 100px;
  height: 5px;
  padding: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border:1px solid rgb(0, 204, 255);
  background-color: rgba(126, 103, 150, 0.911);
  color: rgb(248, 226, 155); 
  font-size: 1.5rem;
  margin-top: 50px;
  cursor: pointer;
}
.btn-end2{
  width: 100px;
  height: 5px;
  padding: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border:1px solid rgb(0, 204, 255);
  background-color: rgba(126, 103, 150, 0.911);
  color: rgb(248, 226, 155); 
  font-size: 1.5rem;
  margin-top: 50px;
  cursor: pointer;
}


.img-end{
  width: 400px;
  height:100%;
  margin-top: -75px;
  margin-left: 50px;
  display: flex;
  align-items:flex-end;
  justify-content: center;
}
img{
  height: 90%;
}



@media (max-width:400px) {

  main {
    height: 100vh;
    justify-content: center;
    background-position-y: 0px;
    background-position-x: -400px;
  }

  h1 {
    font-size: 3rem;
    top:-20px
  }

  .back-h1 {
    font-size: 3rem
  }

  .letters {
    font-size: 2.5rem;
    margin: 2px;
  }

  .container-letters {
    width: 310px;
    height: 100px;
    margin-bottom: 35px;
    flex-wrap: wrap;
  }

  .container-buttons {
    width: 300px;
    height: 350px;
  }

  .buttons {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 2rem;
  }
  .container-end-game  {  
    flex-direction: column;
  }

 
  .container-end-game  h3{  
    font-size: 1.5rem;
  }
  .container-end-game  h2{  
    font-size: 2.5rem;
    margin-top: 50px;
    letter-spacing: 2.5px;
    text-align: center;
    width: 320px;
  }
  

  .img-end{
    width: 200px;
    height: 400px;
    margin-left: 0;
  }
  .btn-end2{
    margin-top: -50px;
  }
  .score{
    top: 100px;
    left: 20px;
  }

}

@media (min-width:400px) and (max-width:900px) {

  main {
    justify-content: center;
    background-position-y: -130px;
  }

  .container-title {
    display: none;
  }

  .letters {
    font-size: 2.5rem;
    margin: 2px;
  }

  .container-letters {
    margin: 35px;
  }

  .container-buttons {
    width: 700px;
    height: 50px;
  }

  .buttons {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    font-size: 1.5rem;
    margin: 5px;
  }
  .card-end-game{
    width: 300px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-end-game h3 {  
    font-size: 1.5rem;  
  }
  .container-end-game h2 {  
    font-size: 1.5rem;
    margin: 19px;
    width: 400px;
    text-align: center; 
  
  }
  .img-end {
    margin-right: -50px;
  }
  .score{
    top: 0px;
    left: 235px;
  }
}